* {
    box-sizing: border-box;
}

body {
    display: grid;
}

p {
    font-size: 18px;
    font-weight: bold;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.main {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.photo-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 350px;
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
}

.imgBox {
    height: 300px;
    width: 250px;
    border: 1px solid black;
    border-radius: 5px;
}

#new-photo {
    /* display: block; */
}