* {
    box-sizing: border-box;
}

body {
    display: grid;
}

h1 {
    display: flex;
    justify-content: center;
}

p {
    font-size: 18px;
}

.header {
    display: flex;
    justify-content: space-evenly;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    align-items: center;
}

.photo-card {
    height: 250px;
    width: 200px;
    border: 1px solid black;
}