* {
    box-sizing: border-box;
}

body {
    display: grid;
}

p {
    font-size: 18px;
    font-weight: bold;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: rgb(239, 188, 155); */
    background-image: linear-gradient(rgb(239, 188, 155), white);
}

.main {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    background-image: linear-gradient(white, rgb(251, 243, 213));
}

.photo-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 600px;
    width: 550px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(214, 218, 200);
}

.imgBox {
    height: 550px;
    width: 500px;
    border: 1px solid black;
    border-radius: 5px;
}